@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

#admin{
  font-size: 1.7rem;
  color: #219150;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  width: #fff;
}
html::-webkit-scrollbar-thumb {
  width: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background-color: #10221b;
  color: #fff;
}


.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header.active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}
.header .navbar a:hover {
  color: #219150;
}
.header .navbar #nav-close {
  font-size: 5rem;
  color: #10221b;
  display: none;
}
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}
.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
.search-form.active {
  transform: translateY(0%);
}
.search-form #close-search {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}
.search-form #close-search:hover {
  color: #219150;
}
.search-form form {
  width: 50rem;
  padding: 0 2rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}
.search-form form input {
  width: 80%;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.search-form form input::-moz-placeholder {
  color: #aaa;
}
.search-form form input::placeholder {
  color: #aaa;
}
.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.search-form form label:hover {
  color: #219150;
}


/*Login form*/
#login-form input[type=text], #login-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
#login-form button {
  background-color: #e5920c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#login-form button:hover {
  opacity: 0.8;
}

#login-form .avatar{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
#login-form .avatar img{
  width: 10%;
  border-radius: 50%;
}
#login-form .container {
  padding: 16px;
  width: 35rem;
  border: 2px solid rgba(225,255,255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
 
}
#login-form .container .more a{
  color: rgb(232, 30, 30);
}

#login-form span.psw {
  float: right;
  padding-top: 16px;
  font-size: 1.5rem;
 
}
#login-form{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: wheat;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
#login-form.active {
  transform: translateY(0%);
}
#login-form #close-login {
  position: absolute;
  right: 25px;
  top: 0;
  color: #e9dede;
  font-size: 3rem;
  font-weight: bold;
}

#login-form #close-login:hover,
#login-form #close-login:focus {
  color: red;
  cursor: pointer;
}
#login-form label{
  font-size: 2rem;
  color: white;
}

/*sing up form*/
#signup-form input[type=text], #signup-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
#signup-form button {
  background-color: #32eb11;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#signup-form button:hover {
  opacity: 0.8;
}

#signup-form .avatar{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
#signup-form .avatar img{
  width: 10%;
  border-radius: 50%;
}
#signup-form .container {
  padding: 16px;
  width: 35rem;
  border: 2px solid rgba(225,255,255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
 
}
#signup-form .container .more a{
  color: rgb(232, 30, 30);
}

#signup-form span.psw {
  float: right;
  padding-top: 16px;
  font-size: 1.5rem;
 
}
#signup-form{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: wheat;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
#signup-form.active {
  transform: translateY(0%);
}
#signup-form #close-signup {
  position: absolute;
  right: 25px;
  top: 0;
  color: #e9dede;
  font-size: 3rem;
  font-weight: bold;
}

#signup-form #close-signup:hover,
#signup-form #close-signup:focus {
  color: red;
  cursor: pointer;
}
#signup-form label{
  font-size: 2rem;
  color: white;
}



.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box.second {
  justify-content: flex-start;
}
.home .box .content {
  width: 50rem;
}
.home .box .content span {
  font-size: 4rem;
  color: #10221b;
}
.home .box .content h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

.home  .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.category .box-container .box {
  text-align: center;
  padding: 2rem;
}
.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}
.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.about {
  background-color: #b3afaf;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .image {
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.about .image img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
.about .content {
  flex: 1 1 42rem;
}
.about .content h3 {
  font-size: 3rem;
  color: #219150;
}
.about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  width: 35rem;
  border: 0.2rem solid #10221b;
}
.shop .slide:hover .image .icons {
  transform: translateY(0);
}
.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
}
.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 0.2rem;
}
.shop .slide .image .icons a:hover {
  background: #219150;
}
.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}
.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2.5rem;
  color: #219150;
}

.packages {
  background-color: #b3afaf;
}
.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.packages .box-container .box {
  text-align: center;
  background-color: #fff;
  border: 0.2rem solid #10221b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.packages .box-container .box:hover {
  background: #10221b;
}
.packages .box-container .box:hover .content > * {
  background: #fff;
}
.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.packages .box-container .box .content {
  padding: 2rem;
}
.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}

.services {
  background-color: #b3afaf;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box {
  text-align: center;
  padding: 1rem;
  border: 0.2rem solid #10221b;
  border-radius: 0.5rem;
  background: #fff;
}
.services .box-container .box:hover {
  background-color: #10221b;
}
.services .box-container .box:hover img {
  filter: invert(1);
}
.services .box-container .box:hover p {
  color: #fff;
}
.services .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}
.services .box-container .box:hover .btn:hover {
  background-color: #fff;
  color: #10221b;
}
.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.services .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}
.services .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.6rem;
  background-color: #b3afaf;
  border-radius: 0.5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}
.reviews .slide .text::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #b3afaf;
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.reviews .slide h3 {
  font-size: 2rem;
  color: #10221b;
}
.reviews .slide span {
  color: #219150;
  font-size: 1.5rem;
}

.blogs .slide {
  text-align: center;
  width: 35rem;
}
.blogs .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.blogs .slide .icon {
  background: #10221b;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}
.blogs .slide .icon a {
  font-size: 1.4rem;
  color: #fff;
}
.blogs .slide .icon a:hover {
  color: #219150;
}
.blogs .slide .icon a span {
  padding-right: 0.5rem;
  color: #219150;
}
.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
}
.blogs .slide p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}

.newsletter {
  background: #b3afaf;
}
.newsletter .content {
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
}
.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}
.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: 0.7rem;
  display: flex;
}
.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: #10221b;
  padding: 0 1.3rem;
}
.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
}

.clients .slide {
  text-align: center;
}
.clients .slide img {
  height: 12rem;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../picture/footer.jpg) no-repeat;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  color: #219150;
  padding-right: 0.5rem;
}
.footer .box-container .box a:hover {
  color: #219150;
}
.footer .box-container .box a:hover i {
  padding: 2rem;
}
.footer .box-container .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}
.footer .box-container .credit span {
  color: #219150;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
@media (max-width: 450px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background-color: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */