section {
    padding: 2rem 9%;
}

.btn {
    background-color: rgb(203, 136, 48);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);

}

.home .content p {
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .3);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .vid-btn.active {
    background: rgb(208, 157, 62);
}

.heading span {
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: rgb(201, 116, 25);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space {
    background: none;
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -200%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: rgb(213, 74, 23);
}

.gallery .box-container .box .content p {
    font-size: 1rem;
    color: #eee;
}

.videos .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.videos .video-container .box{
    overflow: hidden;
    flex: 1 1 30rem;
    height: 30rem;
    position: relative;
}

.videos .video-container .box .content {
    text-align: center;
    padding: 2rem;
}

